@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Ubuntu:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
}

/* type selector */
body {
    color: #555777;
    line-height: 1.3em;
    font-size: 1.2em;
    margin: 0;
    font-family: "Ubuntu", sans-serif;
}

h3,
p {
    padding: 0.4em;
}

/* Pseudo-classes or pseudo-elements */
header:hover {
    filter: sepia(30%);
}

a:link {
    font-weight: bold;
    text-decoration: none;
    color: #146e8f;
}
a:visited {
    font-weight: bold;
    text-decoration: none;
    color: #670b7a;
}
a:hover,
a:focus,
a:active {
    text-decoration: underline;
    color: #070c71;
}

/* class selector */
.page-wrapper {
    width: 95%;
    margin: 0 auto;
    background-color: #e8eeff;
    position: relative;
}

/* id selector */
#zen-explanation {
    background-color: #fff;
}
#zen-benefits {
    background-color: #fff;
}

header h1,
h2 {
    text-align: center;
    position: relative;
    top: 25%;
    color: #fff;
    font-size: 2.5em;
    padding: 0.5em;
    font-family: "Anton", sans-serif;
}

/* descendant combinator */
section header {
    height: 40vh;
    background-image: url(R0001363.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

footer {
    text-align: center;
    background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(49, 58, 255, 0) 0%,
        rgba(0, 212, 255, 1) 100%
    );
    padding: 3em;
    margin-bottom: 0;
}

/* child combinator */
footer > a {
    font-size: 1.5em;
    padding: 1em;
}

ul {
    list-style: none;
}

/* attribute selector */
.sidebar[role] {
    background-color: #e8eeff;
}

.wrapper {
    display: flexbox;
    text-align: center;
    margin: 0 auto;
    padding: 1em;
}

.wrapper ~ div {
    padding: 3em;
}

aside > div {
    text-align: center;
}

aside > div > div {
    margin: 0 3em;
}

/* general sibling combinator */
h3 ~ nav {
    background-color: #fff;
}

/* direct sibling combinator */
h3 + ul {
    background-color: #fff;
}
